<mat-card-title>{{ Texts.RoleManagement | Translate }}</mat-card-title>
<div class="searchBar">
  <label for="rolename">
    {{ Texts.RoleName | Translate }} : <input class="searchBarInput" #rolename type="text">
  </label>
</div>
<app-table
  *ngIf="dataLoaded"
  [table]="table"
  [excludedColumns]="excludedColumns"
  [canEdit]="canEdit"
  [canDelete]="canDelete"
  (editRow)="editRole($event)"
  (deleteRow)="deleteRole($event)"
  (tablePaging)="handlePaging($event)"
  (rowDetails)="showDetails($event)">
</app-table>
<mat-card-footer>
  main card footer
</mat-card-footer>
