.errorMessageContent {
  margin: 0 auto !important;
  text-align: center;
}
span {
  font-size: larger;
}
button {
  margin: 0 auto !important;
  text-align: center;
  margin-top: 44px !important;
  margin-left: 80px !important;
}
