<mat-card-title>{{ Texts.VisitManagement | Translate }}</mat-card-title>
<div class="searchBar">
  <label for="username">
    {{ Texts.PatientName | Translate }} : <input class="searchBarInput" #patientName type="text">
  </label>
  <label for="lastname">
    {{ Texts.PatientMobile | Translate }} : <input class="searchBarInput" #patientMobile type="text">
  </label>
  <label for="lastname">
    {{ Texts.DoctorName | Translate }} : <input class="searchBarInput" #doctorName type="text">
  </label>
</div>
<app-table
  *ngIf="dataLoaded"
  [table]="table"
  [excludedColumns]="excludedColumns"
  [canEdit]="canEdit"
  [canDelete]="canDelete"
  (editRow)="editVisit($event)"
  (deleteRow)="deleteVisit($event)"
  (tablePaging)="handlePaging($event)"
  (rowDetails)="showDetails($event)">
</app-table>
<mat-card-footer>
  main card footer
</mat-card-footer>
